<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>Coursework 3</title>
  <link rel="stylesheet" href="../style.css">
  <script src="../lessons.js"></script>
  <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
  <link rel="manifest" href="../lessonsApp.webmanifest" crossorigin="use-credentials">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script>
   /*if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js');
    };*/
  </script>
  <style>
    body{
      overflow-y: hidden !important;
    }
  </style>
</head>

<body>
  <div class="pt-3 lesson">
    <div class="w-100 w-lg-25 mx-auto border py-2 px-5">
      <label for="" class="text-white">
        <a href="#" class="text-white float-end text-decoration-none">SKIP<i class="fa-solid fa-arrow-right-long"></i></a>
      </label> 
    </div>
    <div class="w-100 mx-auto img-container2 d-flex justify-content-center align-items-center py-4">
        <img src="../img/bg2.png" alt="" class="info-img">
    </div>
        <div class="container2 w-100 d-flex justify-content-center align-items-center">
            <div class="border bg-white info-pane py-3 px-1">
                <h6 class="text-center welcome-home2">Learn Anytime.</h6>
                <h6 class="text-center welcome-home2">Anywhere</h6>
                <p class="text-secondary text-center">Interactive Videos, Revision Notes, Past Examination questions and videos, Inclusive learning for special needs students, Monitor your performance</p>
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn rounded-pill btn-sm py-2 px-4 btn-gro-danger">Next</button>
                </div>
            </div>
        </div>
      </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://kit.fontawesome.com/2784015338.js" crossorigin="anonymous"></script>
<script>

  new Vue({
    el: '#lessons',
    data: {
      lessons: lessons,
    },
    methods: {
      reduce: function (index) {
        this.lessons[index].spaces--;
        if (this.lessons[index].spaces == 0) {
          document.getElementById("addToCart").disabled = true;
          document.getElementById("addToCart").innerHTML = "Not Available";
        }
      }
    }
  });

</script>

</html>